{% extends 'header.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

<div class="root">
    Last Exercise: {{ streak[1] }}, Streak: {{ streak[0] }}
    {% for date, exercises in exercises_history %}
    <div class="container">
        <div class="date">{{ date }}</div>
        <div class="exercise-widget row">
            {% for exercise in exercises %}
            <img src="{{ url_for('static', filename=exercise['thumbnail']) }}" class="exercise-widget thumbnail">
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
