{% extends 'header.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

<div class="root">
    Last Exercise: {{ streak[1] }}, Streak: {{ streak[0] }}
    <div class="overview">
        {% for exercise in exercises %}
        <div class="level"
             style="background: conic-gradient( green {{ exercise['exp']['angle'] }}deg, transparent calc( {{ exercise['exp']['angle'] }}deg + 0.5deg) 100%);">
            <img src="{{ url_for('static', filename=exercise['thumbnail']) }}" class="thumbnail">
        </div>
        {% endfor %}
    </div>
    {% for date, exercises in exercises_history %}
    <div class="container">
        <div class="date">{{ date }}</div>
        <div class="exercise-widget row">
            {% for exercise in exercises %}
            <img src="{{ url_for('static', filename=exercise['thumbnail']) }}" class="exercise-widget thumbnail">
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
