{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Exercises{% endblock %}</h1>
{% endblock %}
{% block content %}
{% for categorie in categories.keys() %}
<article class="categorie">
<h1> {{ categorie.capitalize() }} </h1><br>
{% for exercise in categories[categorie] %}
<article class="exercise">
    <header>
        <div>
            <h3>{{ exercise['label'] }}</h3>
        </div>
    </header>
    <p class="body">{{ exercise['instruction']|safe }}<br><br>
        <img src="{{ url_for('static', filename=exercise['thumbnail']) }}"
             width="640"
             height="360"><br>
        <a href="{{ url_for('static', filename=exercise['template']) }}">
            <button type="button">Exercise
            </button>
        </a>
        <br><br>
        Links:{% for link in exercise["hyperlinks"] %}
        <br><a href="{{ link }}" target="_blank">{{ link[:35] }}</a>
        {% endfor %}
        <br><br>

    </p>
</article>

{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}