{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Exercises{% endblock %}</h1>
{% endblock %}

{% block content %}
{% for exercise in exercises %}
<article class="post">
    <header>
        <div>
            <h1>{{ exercise['label'] }}</h1>
        </div>
    </header>
    <p class="body">{{ exercise['instruction']|safe }}<br><br>
        <img src="{{ url_for('static', filename=exercise['thumbnail']) }}"
             width="640"
             height="360"><br>
        <a href="{{ url_for('static', filename=exercise['template']) }}">
            <button type="button">Exercise
            </button>
        </a>
    </p>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}