{% extends 'base.html' %}
{% block header %}

<meta name="viewport" content="width=device-width, initial-scale=1">


<header>
    <div class="w3-container">
        <div class="w3-bar w3-light-grey w3-middle">
            <a href="{{ url_for('dashboard.dashboard') }}" class="w3-bar-item w3-button w3-center">Dashboard</a>
            <a href="{{ url_for('exercises.exercise') }}" class="w3-bar-item w3-button w3-center">Exercises</a>
            <a href="{{ url_for('topic.topic') }}" class="w3-bar-item w3-button w3-center">Topics</a>
            <a class="w3-bar-item w3-button w3-center" >Models</a>
            <a class="w3-bar-item w3-button w3-right">Login</a>
        </div>
    </div>
</header>

{% endblock %}


