{% extends 'header.html' %}

{% block navbar %}

<div style="position: -webkit-sticky; position: sticky; top: 0px; z-index: 100;">
    <div class="w3-container">
        <div class="w3-center">
            <div class="w3-bar w3-light-grey">
                {% for categorie in categories.keys() %}
                <div class="w3-dropdown-hover">
                    <a href="#{{ categorie }}">
                        <button class="w3-button w3-light-grey">{{ categorie.capitalize() }}</button>
                    </a>
                    <div class="w3-dropdown-content w3-bar-block">
                        {% for exercise in categories[categorie] %}
                        <a href="#{{ exercise['label'] }}" class="w3-bar-item w3-button">{{ exercise['label'] }}</a>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}