{% extends 'header.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">

<div class="layout">
    <form method="POST">
        <div class="container">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit">Login</button>

            New here? <label><a href="{{ url_for('auth.register') }}">Register</a></label>
        </div>
    </form>
</div>

{% endblock %}