.container {
    width: 70%;
    margin: 0 auto;
}

.exercise-widget {
    display: flex;
    width: 100%;
}

.exercise-widget.row {
    flex: 1;
    width: 100%;
    margin-bottom: 60px;
}

.exercise-widget.exercise-item {
    display: flex;
    flex: 25%;
    align-items: stretch;
    width: 25%;
    min-width: 25%;
    max-width: 25%;
    border: 2px solid darkgrey;
    border-radius: 17px;
    margin: 5px;
}

.exercise-widget.thumbnail {
    height: 80px;
    width:70%;
    object-fit: cover;
    border-radius: 15px;
    margin: auto;
}

.exercise-widget.text {
    width: 30%;
    margin: auto;
    padding: 10px;
}

.exercise-widget.container:after {
  content: "";
  display: table;
  clear: both;
}