.category {
  background-color: hsl(260, 20%, 40%);
  color: white;

  text-align: center;
  align: center;

  font-size: 25px;
  padding: 15px;

  margin-bottom: 20px;
  margin-top: 50px;
}

.exercise_label {
  background-color: hsl(260, 10%, 40%);
  text-align: center;
  align: center;

  color: white;
  font-size: 17px;
  padding: 5px;
}

.exercise {
  float: left;
  padding: 10px;
}

.exercise.thumbnail {
  float: left;
  width: 50%;
}

.exercise.instruction {
  width: 50%;
}

.exercise_row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 40px;
  text-align: center;
}

@media (max-width: 640px) {
  .exercise.thumbnail, .exercise.instruction {
    width: 100%;
  }
}

img {
  border: 1px solid hsl(0, 0%, 85%);
  padding: 5px;
  height: auto;
  width: 100%;
  max-width: 640px;
}

