img {
  border: 1px solid hsl(0, 0%, 85%);
  padding: 5px;
  height: auto;
  width: auto;
  max-width: 640px;
}

.category {
  background-color: hsl(260, 20%, 40%);
  color: white;
  align: center;
}

.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instruction {
  max-width: 50%;
  height: auto;
}

.links {
  max-width: 50%;
  height: auto;
}

