.container {
    width: 70%;
    margin: 0 auto;
}

.exercise-widget {
    display: flex;
    width: 100%;
}

.exercise-widget.row {
    flex: 1;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.exercise-widget.exercise-item {
    display: flex;
    flex: 25%;
    align-items: stretch;
    width: 25%;
    max-width: 30%;
    min-width: 25%;
    height: 40px;
    border: 2px solid darkgrey;
    border-radius: 17px;
}

.exercise-widget.thumbnail {
    flex: 25%;
    height: 37px;
    object-fit: cover;
    border-radius: 15px;
    margin: 0 auto;

}

.exercise-widget.text {
    flex: 75%;
    margin: 0 auto;
    padding: 10px;
}

.exercise-widget.container:after {
  content: "";
  display: table;
  clear: both;
}