.layout {
    max-width:100%;
    margin: 0 auto;
}

.layout_exercises {
    max-width:70%;
    margin: 0 auto;
}

.category {
  background-color: hsl(180, 50%, 60%);
  color: white;

  text-align: center;
  align: center;

  font-size: 25px;

  padding: 9px;
  margin-bottom: 20px;
  margin-top: 90px;
}
.exercise_container {
  background-color: lightgray;
}

.exercise_label {
  background-color: hsl(180, 10%, 40%);
  text-align: center;
  align: center;

  color: white;
  font-size: 17px;
  margin-bottom: 10px;
}

.exercise {
  float: left;
}

.exercise.thumbnail {
  float: left;
  width: 50%;
  transition: transform .2s;
}

.exercise.thumbnail:hover {
    transform: scale(1.5);
}

.exercise.instruction {
  width: 50%;
  max-width: 640px;
  margin: 0 auto;
}
.exercise_row {
}

.exercise_row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 40px;
  text-align: center;
}

@media (max-width: 1280px) {
  .exercise.thumbnail, .exercise.instruction {
    width: 100%;
  }
}

img {
  height: auto;
  width: 100%;
  max-width: 640px;
}
