.container {
    width:15%;
    min-width: 200px;
    margin: 0 auto;

}

.new_topic {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 200px;

}

.topics {
    border: 2px solid darkgray;
    margin: 0 auto;
}

.topic.future {
    color: darkgray;
}

.topic.today {
    background: lightgreen;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 60px;
}

.topic.past {
    color: darkgray;
    background: lightblue;
}